

  h2 {
    color: white
  }

  p {
    color: white
  }

  a {
    color: white
  }

  div.header {
    padding-top: 0px;
    padding-bottom: -150px;
    padding-left: 10px;
    padding-right: 0px;
    height: 200px;
  }

  div.main-content {
    padding-left: 10px;

  }

  audio {
    position: relative;
    top: 50px;
  }

  iframe {
    position: relative;
    top: -150px
  }

