
  h2 {
    color: black
  }

  p {
    color: #800020;
    font-size: 17px;
  }

  a {
    color: white
  }

  q {
    position: relative;
  }

  div.header {
    padding-top: 0px;
    padding-bottom: -150px;
    padding-left: 10px;
    padding-right: 0px;
    height: 200px;
  }

  div.main-content {
    padding-left: 10px;

  }

